# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Output images & debug data
*.jpg
*.jpeg
*.png
test_ocr/
*_ocr/

# Virtual environments
venv/
.venv/
env/

# Environment variables & secrets
.env
.env.*
